/* * {
    margin: 0;
    padding: 0;
}*/

#banner {
    width: 600px;
    height: 200px;
    background-color: gold;
}

#banner>.box1 {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 5px solid #666;
    margin: 20px;
    display: inline-block;
}

#banner>.box2 {
    width: 80px;
    height: 80px;
    background-color: tomato;
    border: 20px solid #666;
    margin: 20px;
    display: inline-block;
}

#banner>.box3 {
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 20px solid #666;
    margin: 20px;
    display: inline-block;
}