body{
    font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', NanumBarunGothic, NanumGothic, 'Malgun Gothic', dotum, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 150px;
    margin: 50px 0 0 0;
}
header h2 {
    text-align: center;
}
section{
    text-align: center;
}
section .join_item{
    width: 300px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
}
section .join_item input{
    width: 300px;
    height: 30px;
    font-size: 18pt;
    border: 0;
    border-bottom: 1px solid gray;
}
section .join_item button{
    width: 300px;
    height: 30px;
    font-size: 13pt;
    border: 0;
}
section #img_btn1{
    background: url( "../images/sns_logo01.svg" );
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    vertical-align:middle;
    margin: 0 5px 21px 5px;
    overflow: hidden;
    border-radius: 10px;
    font-size: 0;
    text-align: center;
    border: none;
    cursor: pointer;
}
section #img_btn2{
    background: url( "../images/sns_logo02.svg" );
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    vertical-align:middle;
    margin: 0 5px 21px 5px;
    overflow: hidden;
    border-radius: 10px;
    font-size: 0;
    text-align: center;
    border: none;
    cursor: pointer;
}
section #img_btn3{
    background: url( "../images/sns_logo03.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    vertical-align:middle;
    margin: 0 5px 21px 5px;
    overflow: hidden;
    border-radius: 10px;
    font-size: 0;
    text-align: center;
    border: none;
    cursor: pointer;
}
section #img_btn4{
    background: url( "../images/sns_logo04.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    vertical-align:middle;
    margin: 0 5px 21px 5px;
    overflow: hidden;
    border-radius: 10px;
    font-size: 0;
    text-align: center;
    border: none;
    cursor: pointer;
}